name: tf-checks
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:
  examples:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.0.10
    with:
      working_directory: './examples/'
